<!DOCTYPE html>

<title>New FlashSale</title>

{% block body %}
    <h1>Create new FlashSale</h1>

    {{ include('flash_sale/_form.html.twig') }}

    <a href="{{ path('flash_sale_index') }}">back to list</a>
{% endblock %}
